
This is the <strong>Sample theme menu</strong> 
<ul>
    <li>@Html.ActionLink("Home", "Index", "Home", new{area=""}, null)</li>
    <li>@Html.ActionLink("Area Home", "Index", "Area", new{area="TestArea"}, null)</li>
</ul>